<div class="search-bar">
  <table cellspacing="0" cellpadding="0" border="0" style="border-bottom: 1px solid rgb(231, 231, 231); padding: 8px 0pt 0pt;">
    <tbody>
      <tr>
        <td width="100%" class="lst-td">
          <span id="tophf" style="visibility: visible;"><input type="hidden" value="en" name="hl"></span>
          <input type="text" title="Search" id="search" value="13th Street Community Garden" maxlength="2048" name="q" class="lst" autocomplete="off">
          <span style="display: none;" id="tsf-oq">
          	
          	<script type="text/javascript" charset="utf-8">
			  var awesomeModule = (function () {
		      var privateVariable;
		      var url = "http://localhost:4567/search"
		      function post(post_param) {
		        //do something;
console.log(post_param);
		          console.log(post_param);
			      $.get(url,
				    {site_name: post_param, site_type: post_param, q: post_param, btnG: "search", hl: "en"},
				    function(data,result){
					            console.log("Result of " + result);
					            console.log(data);
            					readyResults(data,result);
					            // $("#search-results").innerHTML = data;
					  
					                //I get called when the ajax is done!
					                //do something with the data
					            }
					);
				  
			  }
			
			  function readyResults(data,result) {
				console.log(data);
				console.log(result);
				showResults(data)
			    //do something;
			  }
			
			  function showResults(data){
                

			  }
		      

		      return { // <----- this starts the object being returned when this module function executes
		        init: function () {
			      console.log("init")
			      $("#btnG").click(function(){
				     var searchTerms = $("#search").attr('value');
				     console.log("clicked with val " + searchTerms)
				     post(searchTerms); 
			      });     
              
		          // I have access to privateVariable & privateFunction
		        }
		      }; // <----- this ends the object being returned when this module function executes
		      })();	
			  
			  $(document).ready(function() {
				console.log("INTIALIAZING");
				awesomeModule.init();
				console.log("initted");
//				initialize();
			   // put all your jQuery goodness in here.
			  });
			  
			  
			  </script>
		
          </span> 
        </td>
        <td>
          <div class="ds">
            <div class="lsbb"><input type="submit" action="return false;" value="Search" id="btnG" class="lsb" name="btnG"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
