<script src="../public/js/jquery-1.4.2.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/js/bridge.js" type="text/javascript" charset="utf-8"></script><link rel="stylesheet" href="../public/bridge.css" type="text/css" media="screen" title="no title" charset="utf-8">

<div id="index-body" class="middle">
  <!-- <form action="/search" method="post" accept-charset="utf-8"> -->
    <%= erb :_search_bar, :layout=> false %>  
  <!-- </form> -->
</div>

