<div class='clear'></div>
<div id="contentNav">

<div class="hr"><hr></div>							

<!-- START: ModuleCM33-1 -->
<div class="moduleCM33-1">
	<h2>Search Services</h2>
	<div class="hr small"><hr></div>
	<div class="linkList">
		<ul>
		  <li class="name-search"><a href="#">Search by name</a><input type="text"></input></li> 
		  <li><a href="#">Search by Service Type</a></li>
  		<ul>
  		  <li class="service-search" style="list-style-type:none;">Food Services</li>		
  		</ul>
			<li><a href="#">Quadrant</a></li>
			<ul>
			  <li class="quadrant-search" style="list-style-type:none;">NW</li>
			  <li class="quadrant-search" style="list-style-type:none;">NE</li>
        <li class="quadrant-search" style="list-style-type:none;">SW</li>
        <li class="quadrant-search" style="list-style-type:none;">SE</li>
      </ul>
			
			<li class="last"><a href="#">Zip Code</a><input type="text"></input></li>
		</ul>						
	</div>
</div>
<!-- /END: ModuleCM33-1 -->

</div>