<div id="contentMain" class="limited">
	<div class="hr"><hr /></div>
    <div id="index-body" class="middle">
      <h1>Find Services</h1>
      <div id="moduleCM22">
    	  <form action="/find" method="post" accept-charset="utf-8">

    		<ul>
    		  <li class="name-search">Search by name:&nbsp;<input type="text" name="name"></input></li> 
    		  <li><a href="#">Search by Service Type</a></li>
      		<ul>
      		  <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Food Services      ">Food Services          </input></li>
    			  <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Counseling Services">Counseling Services    </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Housing Services   ">Housing Services       </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Community Garden   ">Community Garden       </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Legal Services     ">Legal Services         </input></li>
      			<li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Library            ">Library                </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Meal Programs      ">Meal Programs          </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Senior Services    ">Senior Services        </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="Teen Services      ">Teen Services          </input></li>
      		</ul>
    			<li><a href="#">Quadrant</a></li>
    			<ul>
    			  <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="NW">NW</input></li>
    			  <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="NE">NE</input></li>
            <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="SW">SW</input></li>
            <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="SE">SE</input></li>
          </ul>

    			<li class="last">Zip Code:&nbsp;<input type="text" length="5" size="5" name="zip"></input></li>
    			<br />
          <div class="search-button">
             <span class="ds"><span class="lsbb"><input type="submit" class="lsb" value="Search Services" name="btnG" style="vertical-align: middle;"></span></span>  
           </div>
    			</form>
    			</ul>
      </div>
    </div>
</div>
    <% content_for :sidebar, partial("base/sidebar") %>