<div id="contentMain" class="limited">
	<div class="hr"><hr /></div>
    <div id="index-body" class="middle">
      <h1>Find Services</h1>
      <div id="moduleCM22">
    	  <form action="/find" method="post" accept-charset="utf-8">

    		<ul>
    		  <li class="name-search">Search by name:&nbsp;<input type="text" name="name"></input></li> 
    		  <li>Filter by Service Type</li>
      		<ul>
      		  <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="food services      ">Food Services          </input></li>
    			  <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="counseling services">Counseling Services    </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="housing services   ">Housing Services       </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="community garden   ">Community Garden       </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="legal services     ">Legal Services         </input></li>
      			<li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="library            ">Library                </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="meal programs      ">Meal Programs          </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="senior services    ">Senior Services        </input></li>
            <li class="service-search" style="list-style-type:none;"><input type="checkbox" name="service_type" value="teen services      ">Teen Services          </input></li>
      		</ul>
    			<li>Filter by Quadrant</li>
    			<ul>
    			  <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="nw">NW</input></li>
    			  <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="ne">NE</input></li>
            <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="sw">SW</input></li>
            <li class="quadrant-search" style="list-style-type:none;"><input type="checkbox" name="quadrant" value="se">SE</input></li>
          </ul>

    			<li class="last">Filter Zip Code:&nbsp;<input type="text" length="5" size="5" name="zip"></input></li>
    			<br />
          <div class="search-button">
             <span class="ds"><span class="lsbb"><input type="submit" class="lsb" value="Search Services" name="btnG" style="vertical-align: middle;"></span></span>  
           </div>
    			</form>
    			</ul>
      </div>
    </div>
</div>
    <% content_for :sidebar, partial("base/sidebar") %>